.cards1 {
    margin-left: 5% !important;
    margin-top: 5% !important;
    margin-right: 10% !important;
}
.cards2 {
    margin-left: 5% !important;
    margin-top: 5% !important;
    margin-right: 10% !important;
}
.emploi {
    margin-left: 10%;
}
.examen {
    margin-left: 30%;
}
.classe {
    margin-left: 10%;
}
.compte {
    margin-left: 30%;
}